In [23]:
import pandas as pd
import numpy as np

In [24]:
df=pd.read_csv('top-5000-youtube-channels-data-from-socialblade.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [26]:
df['Rank']=df['Rank'].str[:-2].str.replace(",","").astype("int")

In [27]:
df['Rank']

0          1
1          2
2          3
3          4
4          5
        ...
4995    4996
4996    4997
4997    4998
4998    4999
4999    5000
Name: Rank, Length: 5000, dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   int64
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(2), object(4)
memory usage: 234.5+ KB

In [29]:
df["Rank"].value_counts()

1       1
3331    1
3338    1
3337    1
3336    1
       ..
1667    1
1666    1
1665    1
1664    1
5000    1
Name: Rank, Length: 5000, dtype: int64

In [30]:
df['Subscribers'].unique()

array(['18752951', '61196302', '19238251', ..., '3265735', '32990',
       '21172'], dtype=object)

In [31]:
mask1=df[df['Subscribers'].str.contains('-')].index
df.drop(labels=mask1,axis=0,inplace=True)

In [32]:
df['Subscribers']=df['Subscribers'].astype("int")

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4613 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4613 non-null   int64
 1   Grade          4613 non-null   object
 2   Channel name   4613 non-null   object
 3   Video Uploads  4613 non-null   object
 4   Subscribers    4613 non-null   int64
 5   Video views    4613 non-null   int64
dtypes: int64(3), object(3)
memory usage: 252.3+ KB

In [34]:
mask2=df[df['Video Uploads'].str.contains('-')].index
df.drop(labels=mask2,axis=0,inplace=True)

In [35]:
df['Video Uploads']=df['Video Uploads'].astype("int")

In [36]:
df['Grade'].unique()

array(['A++ ', 'A+ ', 'A ', 'A- ', 'B+ '], dtype=object)

In [37]:
maps={'A++ ': 5,'A+ ': 4,'A ': 3,'A- ': 2,'B+ ': 1}

In [38]:
df['Grade']=df['Grade'].map(maps)

In [39]:
df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1,5,Zee TV,82757,18752951,20869786591
1,2,5,T-Series,12661,61196302,47548839843
2,3,5,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4,5,SET India,27323,31180559,22675948293
4,5,5,WWE,36756,32852346,26273668433

In [40]:
df['Grade']=df['Grade'].astype('int')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4610 non-null   int64
 1   Grade          4610 non-null   int64
 2   Channel name   4610 non-null   object
 3   Video Uploads  4610 non-null   int64
 4   Subscribers    4610 non-null   int64
 5   Video views    4610 non-null   int64
dtypes: int64(5), object(1)
memory usage: 252.1+ KB